body {
    background-color: #E6E6E6;
}

.center {
    margin: auto;
    display: table;
}

header {
    display: flex;
    align-items: center;
}

h1 {
    font-family: system-ui;
}

.employee-login {
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #f2f2f2;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.task-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.task-item {
    text-align: center;
    max-width: 30%; /* Adjust as needed to control the width of each task item */
}

.task-item h2 {
    text-align: center;
    font-family: system-ui;
}

.task-item img {
    width: 100%; /* Set the width to 100% to make them fill the available space */
    height: auto;
    display: block;
    padding-bottom: 10px;
}

.task-item p {
    text-align: center;
    font-family: system-ui;
}

button {
    background-color: #007acc; /* Background color for the button */
    color: #fff; /* Text color for the button */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin-top: 50px;
    margin: 5px;
}

.homeBtn {
    background-color: #006241;
    margin: auto;
    display: grid;
}

.logout {
    float: right;
    background-color: #006241;
}

.flex-parent {
    display: flex;
}

.jc-center {
    justify-content: center;
}

button.margin-right {
    margin-right: 10%;
}

.homeText {
    margin: 5% 10%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}