body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
    }

header {
    background-color: #333; 
    color: #fff; 
        display: flex;
    align-items: center;
    padding: 20px;
}

.center {
    margin: auto;
    display: table;
}

h1 {
    font-family: system-ui;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.employee-login {
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #f2f2f2;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.task-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.task-item {
    text-align: center;
    max-width: 30%; /* Adjust as needed to control the width of each task item */
}

.task-item h2 {
    text-align: center;
    font-family: system-ui;
}

.task-item img {
    width: 100%; /* Set the width to 100% to make them fill the available space */
    height: auto;
    display: block;
    padding-bottom: 10px;
}

.task-item p {
    text-align: center;
    font-family: system-ui;
}

button {
    background-color: #007acc; /* Background color for the button */
    color: #fff; /* Text color for the button */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin-top: 50px;
    margin: 5px;
}

.homeBtn {
    background-color: #006241;
    margin: auto;
    display: grid;
}

.logout {
    float: right;
    background-color: #006241;
}

.flex-parent {
    display: flex;
}

.jc-center {
    justify-content: center;
}

button.margin-right {
    margin-right: 10%;
}

.homeText {
    margin: 5% 10%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 0 1px 0 black;
    font-weight: bolder;
}

.homepage {
    margin: 0;
    background-size: cover;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("coffeeBackground.jpeg");
}

.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap as needed */
    margin-left: 10%;
    margin-right: 10%;
}

.category {
    flex: 1;
    min-width: 10%; /* Adjust the width as needed */
}

.category h3 {
    text-align: center;
}

.button-container {
    text-align: center;
  }